*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body{
    background-color: rgb(34, 32, 32);
}

main{
    display: flex;
    justify-content: center;
    margin: 25vh auto;
}

.content{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

input{
    height: 5vh;
    width: 30vw;
    border: 1px ;
    border-radius: 3px;
    padding-left: 0.25rem;
    font-size: 1rem;
    margin: 0 auto;
}

input:focus{
    outline: none;
    border: 0px solid gray;
}

button{
    height: 4vh;
    width: 15vw;
    margin: 0.45rem auto;
    border: 1px ;
    border-radius: 3px;
    font-size: 1.25rem;
    cursor: pointer;
}

button:hover{
    background-color: rgb(78, 69, 69);
    transition: 0.55s;
    color: whitesmoke;
}

.result{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1.45rem;
    margin: 0.45rem auto;
    color: white;
    border-bottom: 1px solid gray;
}


@media (max-width:768px){
    input{
        height: 6vh;
        width: 60vw;
    }

    button{
        height: 5vh;
        width: 25vw;
    }
}

@media (max-width:425px){
    input{
        height: 6vh;
        width: 80vw;
    }

    button{
        height: 5vh;
        width: 45vw;
    }
}